._parent-wrapper{
  ._form-style {
    margin: 40px;
  }
  ._submit-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;

  }
  .form-fields{
    margin-top: 20px;
  }
}